/*#bgimage {
 	width: 100vw;
 	height: 100vh;
 	position: absolute;
 	right: 0;
 }*/
 .social {
 	/* background-color: rgba(189, 195, 199, 1);*/
 	text-align: center;
 	color: black;
 	font-size: 1.5em;
 }
/* #media {
 	font-size: 2.5em;
 }*/
 .dropdown:hover .dropdown-menu {
 	display: block;
 }
 /*.navbar-toggle:hover #myNavbar {
            display: block;
        }*/